* {
    padding: 0;
    margin: 0;
}

header {
    background-color: #030e06;
    width: 100%;
    height: 20%;
}


h1{
    font-size: 100px;
}

h2 {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-size: 60px;
    font-style: normal;
    color: #ffc107;;
    text-align: center;
    padding-top: 1%;
}

.main-index {
    background-image: url(https://fondosmil.com/fondo/12985.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(245, 216, 179);
    text-align: center;
    font-size: 30px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
}

.cuadros-container {
    width: 100%;
    height: 50%;
    background-color: #030e06;
    border-top: 5px solid #ffc107;
}

.cuadros {
    border: 3px solid #ffc107;;
    background-color: #030e06;
    height: 100px;
    width: 200px;
    
}

.cuadros:hover {
    border-color: rgb(19, 156, 32);
    border: 6px solid rgb(19, 156, 32);
}

a {
    color: #ffc107;;
    font-family: "Kanit", sans-serif;
    font-size: 30px;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

a:hover {
    color: rgb(19, 156, 32);
    text-decoration: none;
}


footer {
    background-color: #030e06;
    width: 100%;
    height: 20%;
    border-top: 5px solid #ffc107;
    
}


/* A partir de aqui son estilos de legalidad.html */

.main-legalidad
{
    background-image: url(https://fondosmil.com/fondo/12985.jpg);
    background-size: cover;
   
    background-repeat: no-repeat;
}

body {
    background-color: #030e06; /* Color de fondo oscuro */
    color: white; /* Color de texto */
}



.parrafo-legalidad {
    font-size: 25px;
}

h1
{
    font-size: 80px;
    font-family: "Kanit", sans-serif;
}

h1, h2 
{
    color: #ffc107; /* Color de los títulos */
}
